.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  flex-direction: column;
}

.user-table {
  width: 50%;
  box-shadow: 0px 1px 5px 1px #ccc;
  padding: 10px;
  tr {
    height: 50px;
  }
  td {
    text-align: center;
  }
}

.pagination {
  display: flex;
  margin: 20px 0;
  height: 30px;
  padding-left: 0;
  list-style: none;
  border-radius: .25rem;
  a {
    background: #f5f5f5;
    border: 1px solid #333;
    height: 30px !important;
    padding: 5px;

  }
  .previous-link {
    width: 80px;
  }

  .next-link {
    width: 50px;
    border-left: 0;
  }

  .page-item {
    a {
      padding: 5px 15px;
      border-left: 0;
    }
  }

  .active-link-page-item {
    background: #ccc;
  }

  .page-item:not(:disabled):not(.disabled),
  .previous:not(:disabled):not(.disabled),
  .next:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
}